<link rel="import" href="/components/polymer/polymer.html">
<!--<link rel="import" href="/components/materializecss-styles/materializecss-styles.html">-->
<!--<link rel="import" href="/components/hax-body-behaviors/hax-body-behaviors.html">-->
<!--<link rel="import" href="/components/schema-behaviors/schema-behaviors.html">-->

<dom-module id="hello-world">
  <template>
    <style>
      :host {
        display: block;
      };
      :host[theme="light"]{
        background: #FFFFFF;
        color: #000000;
      };
      :host[theme="dark"]{
        background: #000000;
        color: #ffffff;
      }
      :host[disabled] {
        opacity: 0.3;
      }
    </style>
    <h2>Hello there [[fullName]]</h2>
    <button id="button">
    <template is="dom-if" if="[[disabled]]">
      Attend
    </template>
    
    <template is="dom-if" if="[[!disabled]]">
      Don't Attend <slot name="button"><slot>
    </template>
    </button>
    <slot></slot>
  </template>

  <script>
    Polymer({

      is: 'hello-world',
      properties: {
        /**
         * Title
         */
        name: {
          type: String,
        },
        lastName: {
          type: String,
        },
        fullName: {
          type: String,
          computed: '_computeFullName(name, lastName)',
          value: '',
        },
        /**
        * Theming
        */
        theme: {
          type: String,
          value: "light",
          reflectToAttribute: true
        },
        
        /**
        * disabled
        */
        disabled: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },
      
      listeners: {
        'button.tap': '_tapHandler'
      },
      
      observers: [
        '_disabledStateChanged(disabled)'
      ],
      
      _tapHandler: function(){
        this.disabled = !this.disabled;
      },
      
      _computeFullName: function(name, lastName){
        if (typeof lastName !== 'undefined' && lastName !== ''){
          return name + " " + lastName;
        }
        return name
      },
      
      alert: function() {
        const message = this.disabled ? 'is not attending' : 'is attending';
        alert(`${this.fullName} ${message}`);
      },
      
      _disabledStateChanged: function (disabled) {
        //this.alert();
      },
      
      ready: function () {
        console.log("Ready!");
      }
    });
  </script>
</dom-module>
