<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>hello-world demo</title>

    {{ fwc.component_html|safe }}

  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic hello-world demo</h3>
      <hello-world name="w00t!" last-name="1337"></hello-world>
      <hello-world name="w00t!" last-name="" theme="dark"></hello-world>
      <hello-world name="w00t!" last-name="" disabled>
        Slot info <div sot="button"><em>use this carefully</em></div>
      </hello-world>
    </div>
  </body>
</html>
